<div class="clearfix"></div>
<div class="footer">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3">
                   <div class="footer-logo"><a href="#"><img src="images/logo.jpg" alt=""></a></div>
                </div> -->
                <div class="col-md-6 col-sm-6">
                    <h4 class="title"><Strong>Xe nâng Cao Sang</Strong></h4>
                    <p>Địa chỉ: Số 17, Tân Hòa, Đông Hòa, Dĩ An, Bình Dương</p>
                    <p>Số điện thoại: 0000000000</p>
                    <p>Zalo: 0000000000</p>
                    <p>
                        <a href="https://www.facebook.com/profile.php?id=100010918907186">
                           Facebook Cao Sang
                    </a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4 class="title"><strong>Chuyên kinh doanh</strong></h4>
                    <p> - Phốt ben thủy lực</p>
                    <p> - Phốt dầu lò xo</p>
                    <p> - Phốt bơm</p>
                    <p> - Sin hộp xe cơ giới, sin bơm</p>
                </div>
            </div>
        </div>
        <div class="copyright-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright © 2018 <a href="#"></a>. All rights reseved</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icon">
                            <li><a href="#" class="linkedin"></a></li>
                            <li><a href="#" class="google-plus"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>