<div class="clearfix"></div>
<div class="hom-slider">
    <div class="container">
        <div id="sequence">
            <div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
            <div class="sequence-next"><i class="fa fa-angle-right"></i></div>
            <ul class="sequence-canvas">
                <li class="animate-in">
                    <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Xe nâng Cao Sang</span></div>
                    <div class="flat-caption caption2 formLeft delay400 text-center">
                        <h1>Xe nâng</h1>
                    </div>
                    <div class="flat-caption caption3 formLeft delay500 text-center">
                        <p>Chuyên phân phối các loại xe nâng</p>
                    </div>
                    <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img src="~/Image/Background/slider-image-02.png" alt=""></div>
                </li>
                <li>
                    <div class="flat-caption caption2 formLeft delay400 text-center">
                        <h1>Phụ tùng cơ giới</h1>
                    </div>
                    <div class="flat-caption caption3 formLeft delay500 text-center">
                        <p>Chuyên phân phối phụ tùng cơ giới</p>
                    </div>
                    <div class="flat-image formBottom delay200" data-bottom="true"><img src="~/Image/Background/slider-image-02.png" alt=""></div>
                </li>

                <li>
                    <div class="flat-caption caption2 formLeft delay400 text-center">
                        <h1>Nhận đặt hàng </h1>
                    </div>
                    <div class="flat-caption caption3 formLeft delay500 text-center">
                        <p>Nhận đặt hàng các sản phẩm về xe và phụ tùng cơ giới</p>
                    </div>
                    <div class="flat-image formBottom delay200" data-bottom="true"><img src="~/Image/Background/slider-image-02.png" alt=""></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="promotion-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <img src="~/Image/Background/XeNang-bg.jpg" alt="" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <img src="~/Image/Background/XeNang-bg.jpg" alt="" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <img src="~/Image/Background/XeNang-bg.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
