<div class="clearfix"></div>
<div class="footer">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3">
                   <div class="footer-logo"><a href="#"><img src="images/logo.jpg" alt=""></a></div>
                </div> -->
                <div class="col-md-3 col-sm-6">
                    <h4 class="title"><Strong>Thông tin liên lạc</Strong></h4>
                    <p>Nhóm 12</p>
                    <p>14520927- Dương Hoài Thương</p>
                    <p>15520325- Nguyễn Thị Ngọc Huyền</p>
                    <p>15520649- Phạm Hồng Phúc</p>
                </div>
            </div>
        </div>
        <div class="copyright-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright © 2017 <a href="#"></a>. All rights reseved</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icon">
                            <li><a href="#" class="linkedin"></a></li>
                            <li><a href="#" class="google-plus"></a></li>
                            <li><a href="#" class="twitter"></a></li>
                            <li><a href="#" class="facebook"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>