<div id="menu_bottom">
    <div class="div_menu_bottom">
        <div class="div_menu_footer_content">
            <p class="p_menufooter">
                <a class="a_menufooter first" href="#" title="Trang chủ" target="">Trang chủ</a>
                <a class="a_menufooter" href="#" title="Xe nâng" target="">Xe nâng</a>
                <a class="a_menufooter" href="#" title="Phụ tùng" target="">Phụ tùng</a>
                <a class="a_menufooter" href="#" title="Đặt hàng" target="">Đặt hàng</a>
                <a class="a_menufooter" href="#" title="Giới thiệu" target="">Giới thiệu</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<!--==============================BOTTOM================================-->

<div id="bottom">
    <div class="div_bottom">
        <div class="div_bottom_content">
            <address>
                <p style="text-align: center;">&nbsp;</p>
            </address><address>
                <p style="text-align: center;"><span style="text-decoration: underline;"><strong><span style="color: #0000ff; font-size: x-large; text-decoration: underline;">C&Ocirc;NG TY TNHH SX V&Agrave; TM THIẾT BỊ KHO TO&Agrave;N THẮNG</span></strong></span></p>
                <p style="text-align: center;"><span style="color: #ff0000;"><strong>CHUY&Ecirc;N CUNG CẤP THIẾT BỊ N&Acirc;NG HẠ, THIẾT BỊ NH&Agrave; KHO&nbsp;</strong></span></p>
                <p style="text-align: center;"><span style="color: #ff0000;"><strong>DỊCH VỤ BẢO TR&Igrave; , SỬA CHỮA XE N&Acirc;NG C&Aacute;C LOẠI.</strong></span></p>
                <p style="text-align: center;"><span style="color: #ff0000;"><strong>&nbsp;</strong></span></p>
                <p style="text-align: center;"><span style="color: #ff0000;"><strong>1040/32/19 Đường TX21, Tổ 13, Khu Phố 6, Phường Thạnh Xu&acirc;n, Quận 12,TP HCM.</strong></span></p>
                <p style="text-align: center;"><span style="color: #ff0000;"><strong>HOT LINE:&nbsp;<strong>0973.212.939</strong></strong></span></p>
            </address><address>
                <p style="text-align: center;"><strong><span style="font-size: medium; color: #0000ff;">&nbsp;</span></strong></p>
            </address>
        </div>
    </div>
    <div class="div_copyright">
        <div style="text-align: center; font-weight: bold;">Design by: <a href="http://www.quangdung.info/">Tran Dung</a></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
