<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-10">
                <div class="clearfix"></div>
                <div class="header_bottom">
                    <ul class="option">
                        <li id="search" class="search">
                            <form>
                                <input class="search-submit" type="submit" value="">
                                <input class="search-input" placeholder="Nhập thông tin tìm kiếm" type="text" value="" name="search">
                            </form>
                        </li>
                    </ul>
                    
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Xe Nâng</a></li>
                            <li><a href="#">Phụ tùng</a></li>
                            <li><a href="#">Đặt hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>