
@{
    ViewBag.Title = "_LeftLayout";

}
<div class="category leftbar">
    <h3 class="title">
        Xe nâng Cao Sang
    </h3>
    <ul>
        <li>
            <a href="#">
                Địa chỉ: số 17, Tân Hòa, Đông Hòa, Dĩ An, Bình Dương
            </a>
        </li>
        <li>
            <a href="#">
                Xe ủi
            </a>
        </li>
        <li>
            <a href="#">
                Xe đào
            </a>
        </li>
        <li>
            <a href="#">
                Xe xúc lật
            </a>
        </li>
        <li>
            <a href="#">
                Cung cấp các phụ tùng các loại
            </a>
        </li>
        <li>
            <a href="#">
                Liên hệ: <span class="red"> Mr. Sang 09876544212 </span>
            </a>
        </li>
    </ul>
</div>